* {
    font-family: Andale Mono, monospace;
    box-sizing: border-box;
    max-width: 950px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 12px;
}

/********** HEADER BAR **********/
header {
    display: flex;
    background-color: #708090;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
}

header .logo {
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img {
    width: 100%;
    height: auto;

}

header .name {
    height: auto;
    text-align: center;
}

/********** MAIN BODY **********/
.row {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
}

/*** tech stack ***/
.stack {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.stack_box {
    height: 60px;
    width: 60px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
}

.stack img {
    height: 100%;
    width: auto;
}

/*** big picture ***/
.the_pic {
    background-color: #D4D8DD;
    position: relative;
    align-items: center;
    justify-content: center;
}

.the_pic img {
    height: auto;
    width: 100%;
}

/********** PORTFOLIO **********/
.feature_work_title {
    display: block;
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 350px;
}

article .title {
    display: block;
}

article .img_container {
    display: flex;
    position: relative;
    align-items: center;
}

article .img_container img {
    width: 100%;
    height: auto;
}

.portfolio_item {}
@media only screen and (min-width: 316px) {
    /* intermediate-width viewport */
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: auto;
    }

    header .logo {
        padding-left: 15px;
        display: flex;
        position: relative;
    }

    header .name {
        text-align: right;
        padding-right: 15px;
    }

    .stack {
        justify-content: space-evenly;
    }
}

/* small-width viewport */
[class*="col-"] {
    float: left;
    width: 100%;
}

@media only screen and (min-width: 475px) {
    /* intermediate to large-width viewport */
    h1 {font-size: 30px;}

    h2 {font-size: 20px;}

    .row {
        flex-direction: row;
        height: auto;
        max-height: 400px;
    }

    .stack {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .stack_box{
        height: 20%;
    }

    .the_pic img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display:block;
        margin:auto;
    }

    .portfolio_item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col-1 {width: 20%;}

    .col-2 {width: 80%;}

    .col-3 {width: auto;}
}
@media only screen and (min-width: 600px) {
    /* intermediate to large-width viewport */
    .stack {
        flex: 0 0 120px;
    }

    .the_pic {
        flex: 1 1 auto;
    }

    article {
        max-width: 275px;
    }

    .col-1 {width: auto;}

    .col-2 {width: auto;}
}
